<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-11-16T21:52:30Z</date>
	<key>WorkspacePath</key>
	<string>/Users/gaborsarosi/Projects/iOS/Parshanim/Parshanim.xcworkspace</string>
</dict>
</plist>
